/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/


/* General*/

* {
    background-color: #540B51;

}

div {
    border: 1px solid blue;
}

main {
    background-color: #F3EAE2;
}


nav {
    display: flex;
    justify-content: space-between;
    border: 1px solid yellow;
    background-color: #540B51;
    width: 100%;
}

main {
    background-color: #F3EAE2;
}


.slack-logo {
    width: 30%;
    padding: 1%;;
}

.icons-nav {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.search-icon {
    padding: 0;
    border: none;
    background: none;
}

.menu-icon {
    padding: 0;
    border: none;
    background: none;
}

div.section-1 {
    text-align: center;
}

div.section-2 {
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.buttonEmail {
    border-radius: 8px;
    background-color: white;
    width: 95%;
    margin: 0 auto;
    font-size: 150%;
    padding: 3%;
    color: #540B51;
    border: none;
    margin-bottom: 17px;
}

.buttonGoogle {
    border-radius: 8px;
    background-color: #4285F4;
    width: 95%;
    margin: 0 auto;
    font-size: 150%;
    padding: 2%;
    margin-bottom: 17px;
   
}

.buttonGoogle img{
    width: 5%;
    background-color: white;
    
}

.section-2 span {
    background-color: #4285F4;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


body>header>div>h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    padding: 3% 3% 0 3%;
}

body>header>div>p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 1%;
}

body>header>div>p>span {
    color: #ECB12F;
    font-family: Arial, Helvetica, sans-serif;
    
}

.image-hero , .connectedness , .flexibility , .speed {
    width: 100%;
}

.lots-of-logos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 6%;
    background-color: #F3EAE2;
}

.lots-of-logos img{
    height: 60px;
    background-color: #F3EAE2;
    padding: 3%;
}

body>main>section {
    background-color: #F3EAE2;
}

body>main>section>.div-trusted>p {
    background-color: #F3EAE2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 220%;
}

.div-trusted {
    background-color: #F3EAE2;
}

.bring-choose-move {
    background-color: #F3EAE2;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 13%;
    

}

h2 {
    font-size: 90%;
    background-color: #F3EAE2;
    font-size: 330%;
    padding-left: 15px;
}

.bring-choose-move p {
    background-color: #F3EAE2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 160%;
    padding-left: 15px;
    line-height: 1.3;

}

.bring-choose-move span {
    background-color: #F3EAE2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 160%;
    padding-left: 15px;
    line-height: 1.3;
    color: #2E71A6;
    word-spacing: 2px;

}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: center;
    font-size: 250%;
    padding: 15px;

}

.section-white {
    background-color: white;
}

.section-white .p1sectionwhite {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white
    text-align: center;
    font-size: 180%;
    width: 80%;

}

p.p1sectionwhite {
    background-color: white;
    padding-left: 13%;
    text-align: center;
}

.meet-slack-button {
    background-color: #540B51;
    border-radius: 8px;
    width: 95%;
    margin: 0 auto;
    font-size: 150%;
    padding: 3%;
    color: white;
    border: none;
    margin-bottom: 17px;
}



@media (min-width: 320px) and (max-width: 768px){
}
